/* Global styles for the entire app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('C:\Users\HP\OneDrive\Desktop\states\states\src\images\download.jpeg');
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  height: 100vh;
}


h1 {
  text-align: center;
  color: #fff;
}


button {
  background-color: #007bff;
  color: #fff;

  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  
}

button:hover {
  background-color: #0056b3;
}


a {
  
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
